Repository reviewpad/docs, pull requests merged in 2022-07, with the labels that each got.

#4 Add $startsWith() docs
  aladino/builtins.md
Labels: aladino-builtins, medium

#5 Update addLabel and removeLabel for new behaviour
  aladino/builtins.md
Labels: aladino-builtins, small, medium

#7 Add docs for `$assignAssignees` action
  aladino/builtins.md
Labels: aladino-builtins, medium

#8 Add docs for `$fail` action
  aladino/builtins.md
Labels: aladino-builtins, medium

#11 feat: length utility function
  aladino/builtins.md
Labels: aladino-builtins, medium

#12 feat: reviewerStatus function
  aladino/builtins.md
Labels: aladino-builtins, medium

#14 chore: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: small

#15 spec(engine): $disableActions built-in
  aladino/builtins.md
Labels: aladino-builtins, small, medium
